#footer {
    background-color: #63a886;
    height: 20px;
}

#footer_items {
    padding: 0px 8% 24px 8%;
    font-size: 20px;
    border-bottom: 2px;
    position: absolute;
    z-index: 2;
    justify-content: space-between;
}

#copyright {
    color: #1d1d1d;
    z-index: 3;    
}

@media screen and (max-width: 1170px) {

#copyright {
    font-size: 13px;
}

#footer_items {
    display: none;
}};