#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150vh;
    top: 30vh;

}

.voltar {
    display: none;
}

.section-title {
    position: absolute;
    color: #004D3B; 
    font-size: 2rem;
    z-index: 1;
    top: 10px;
}


.section-subtitle {
    position: absolute;
    font-size: 1.5rem;
    color: #ffffffad; 
    align-items: start;
    top: 7vh;
}

#container {
    position: absolute;
    display: grid;
    top: 10vh;
    grid-template-columns: 300px 300px 300px;
    transform: translateY(130px);
    justify-items: center;
}

.tema-card {
    background-color: #ebfffa;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    margin: 20px;
    height: 150px;
    width: 200px;
    justify-items: center;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.tema-card span {
    font-size:1.2rem;
    color: #1d1d1d;
    padding: 30px;
    
}

.tema-card[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #004D3B;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}
    

#icone {
    align-items: center;
    justify-content:center;
    margin: 20px; /* Centraliza horizontalmente */
    font-size: 3rem;
    color: #FA813A;  
}

.containerLinks {
    left: 50%;
    top: 0;
    background-color: #005d47;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
 }      


.infoDesastres {
    text-align: center;
    display:block;
    width: 20px;
    height: 10px;
    
}
#palavra {
    position: absolute;
    display: grid;
    padding: 15px;
    border-radius: 8px;
    grid-auto-rows: 80vh;
    width: 60vh;
    top: 20vh;
    left: 80vh;
    justify-content: center;
    background-color: #ebfffa;
    }

@media screen and (max-width: 1170px) {

    #container {
        flex-wrap: wrap;
        justify-content: center;
        grid-template-columns: 200px 200px;
        top: 170px;

    }   
    
    .section-title {
        color: #004D3B; 
        font-size: 30px;
        z-index: 1;
        transform: translateY(-172px);
    }

    .section-subtitle {
        font-size: 15px;
        color: #ffffffad;
        z-index: 2;
        transform: translateY(-170px);
    }


    .tema-card {
        width: 150px;
        height: 150px;
        
    }

    .tema-card span {
        font-size:15px;
        color: #1d1d1d;
        text-align: justify;
    }

    #icone {
        align-items: center;
        font-size: 25px;
        color: #FA813A;    
    }


    #cta.buttons {
        display: none;
    }

    #repositorio_buttom {
        display: none;
    }

    #palavra {
        flex-wrap: wrap;
        height: auto;
        width: auto;
        left: 50vh;
        top: 210px;
    }
    #menu h2 {
        top: 300px;
    }

    #menu h3 {
        top: 340px;
    }
}
